<!DOCTYPE html>
<html lang="en">
<head>
	<title>通用表单页面</title>
	<meta charset="UTF-8" />
	<meta http-equiv ="proma" content = "no-cache"/>
	<meta http-equiv="cache-control" content="no cache" />
	<meta http-equiv="expires" content="0" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
	<link rel="stylesheet" href="css/colorpicker.css" />
	<link rel="stylesheet" href="css/datepicker.css" />
	<link rel="stylesheet" href="css/uniform.css" />
	<link rel="stylesheet" href="css/select2.css" />
	<link rel="stylesheet" href="css/matrix-style.css" />
    <link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/matrix-media.css" />
	<link rel="stylesheet" href="css/bootstrap-wysihtml5.css" />
	<link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

    <script src="plugins/jQuery/jquery-2.2.3.min.js"></script>

    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>

	<!--upload start-->
	<link rel="stylesheet" type="text/css" href="upload/css/globle.css" />
	<script type="text/javascript" src="js/jquery.min.js"></script>

    <script type="text/javascript" src="plugins/angularjs/angular.min.js"></script>
	<!--end-Footer-part-->
	<script src="upload/js/webuploader.min.js"></script>
	<script src="upload/js/diyUpload.js"></script>

    <script src="js/controller/base.js"></script>
    <script src="js/controller/finalController.js"></script>
    <script src="js/service/commonCertificateService.js"></script>
	<script src="js/service/userService.js"></script>
    <script src="js/controller/commonCertificateController.js"></script>
</head>
<body ng-app="personnel" ng-controller="commonCertificateController" ng-init="initShow();">

<!--close-left-menu-stats-sidebar-->

<div id="content"  style="margin-left: 0px;">
<div id="content-header">
  <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="tip-bottom">Form elements</a> <a href="#" class="current">Common elements</a> </div>
  <h1>证件信息</h1>
</div>
<div class="container-fluid">
  <hr>
  <div class="row-fluid">
    <div class="span12">
      <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
          <h5>常规证件({{commonCertificate.name}})</h5>
        </div>
        <div class="widget-content nopadding">
          <form action="#" method="get" class="form-horizontal">
            <div id="employ" class="control-group">
			  <label class="control-label">个人履历表(含简历) :</label>
			  <div class="controls">
				<ul class="upload-ul clearfix">
					<li class="upload-pick">
						<div class="webuploader-container clearfix" id="goodsUpload1"></div>
					</li>
				</ul>
			  </div>
            </div>
            <div id="identity" class="control-group">
              <label class="control-label">身份证复印件 :</label>
              <div class="controls">
                <ul class="upload-ul clearfix">
					<li class="upload-pick">
						<div class="webuploader-container clearfix" id="goodsUpload2"></div>
					</li>
				</ul>
              </div>
            </div>
            <div id="degree" class="control-group">
              <label class="control-label">学历学位证件 :</label>
              <div class="controls">
                <ul class="upload-ul clearfix">
					<li class="upload-pick">
						<div class="webuploader-container clearfix" id="goodsUpload3"></div>
					</li>
				</ul>
              </div>
            </div>
			
			<div id="education" class="control-group">
              <label class="control-label">学历认证表 :</label>
              <div class="controls">
                <ul class="upload-ul clearfix">
					<li class="upload-pick">
						<div class="webuploader-container clearfix" id="goodsUpload4"></div>
					</li>
				</ul>
				</div>
			</div>
			
			<div id="post" class="control-group">
              <label class="control-label">相关岗位资格证件 :</label>
              <div class="controls">
                <ul class="upload-ul clearfix">
					<li class="upload-pick">
						<div class="webuploader-container clearfix" id="goodsUpload5"></div>
					</li>
				</ul>
              </div>
            </div>
			
            <div id="background" class="control-group">
              <label class="control-label">背景调查 :</label>
              <div class="controls">
                 <ul class="upload-ul clearfix">
					<li class="upload-pick">
						<div class="webuploader-container clearfix" id="goodsUpload6"></div>
					</li>
				</ul>
			  </div>
            </div>
            <div class="form-actions">
              <div ng-click="save()" class="btn btn-success">提 交</div>
			  <div ng-click="download()" class="btn btn-success">下 载</div>
            </div>
          </form>
        </div>
      </div>  
	</div>

</div>
</div>
</div>

<!--<script src="js/commonUpload.js"></script>-->
</body>
</html>
