<!DOCTYPE html>
<html lang="en">
<head>
    <title>人事档案管理系统</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="css/fullcalendar.css" />
    <link rel="stylesheet" href="css/matrix-style.css" />
    <link rel="stylesheet" href="css/matrix-media.css" />
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/jquery.gritter.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
    <script src="plugins/jQuery/jquery-2.2.3.min.js"></script>

    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>

    <!--upload start-->
    <script type="text/javascript" src="js/echarts.min.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>

    <script type="text/javascript" src="plugins/angularjs/angular.min.js"></script>
    <script src="js/controller/base.js"></script>
    <script src="js/service/userService.js"></script>
    <script src="js/service/newsService.js"></script>
    <script src="js/controller/homeController.js"></script>
</head>
<body ng-app="personnel" ng-controller="homeController" ng-init="initNews();getUser();getUserTotal();">
<!--main-container-part-->
<div id="content" style="margin-left: 0px;">
<!--Action boxes-->
  <div class="container-fluid">
    <div class="quick-actions_homepage">
      <ul class="quick-actions">
        <li class="bg_lb"> <a href="home.html"> <i class="icon-dashboard"></i>我的控制台</a> </li>
        <li ng-if="user.author == '3'" class="bg_lg span3"> <a href="#charts_show"> <i class="icon-signal"></i> 图表统计</a> </li>
        <li ng-if="user.author == '3'" class="bg_lb"> <a href="add-news.html"> <i class="icon-pencil"></i>发布公告</a> </li>

        <li ng-if="user.author == '3'" class="bg_lo"> <a href="javascript:void(0);"> <i class="icon-th"></i> 待开放</a> </li>
        <li ng-if="user.author == '3'" class="bg_ls"> <a href="javascript:void(0);"> <i class="icon-fullscreen"></i> 待开放</a> </li>
        <li class="bg_lo span3"> <a href="#new_list"> <i class="icon-th-list"></i> <span class="label label-important">20</span>  公告栏</a> </li>
        <li ng-if="user.author == '3'" class="bg_ls"> <a href="javascript:void(0);"> <i class="icon-tint"></i> 待开放</a> </li>
        <li ng-if="user.author == '3'" class="bg_ly"> <a href="javascript:void(0);"> <i class="icon-inbox"></i>待开放 </a> </li>
        <li ng-if="user.author == '3'" class="bg_lg"> <a href="javascript:void(0);"> <i class="icon-calendar"></i> 待开放</a> </li>
        <li class="bg_lr"> <a href="javascript:void(0);"> <i class="icon-info-sign"></i> 待开放</a> </li>

      </ul>
    </div>

<!--End-Action boxes-->
<!--Chart-box  ng-if="user.author == '3'" -->
    <div class="row-fluid" id="charts_show">
      <div class="widget-box">
        <div class="widget-title bg_lg"><span class="icon"><i class="icon-signal"></i></span>
          <h5>网站统计</h5>
        </div>
        <div class="widget-content">
          <div class="row-fluid">
            <div class="span9">
                <div id="pie_charts" style="width: 1200px;height:400px;"></div>
            </div>
            <div class="span3">
              <ul class="site-stats">
                <li class="bg_lh"><i class="icon-user"></i> <strong>{{userTotal}}</strong> <small>Total Users</small></li>
                <li class="bg_lh"><i class="icon-plus"></i> <strong>0</strong> <small>New Users </small></li>
                <li class="bg_lh"><i class="icon-shopping-cart"></i> <strong>656</strong> <small>Total Shop</small></li>
                <li class="bg_lh"><i class="icon-tag"></i> <strong>9540</strong> <small>Total Orders</small></li>
                <li class="bg_lh"><i class="icon-repeat"></i> <strong>10</strong> <small>Pending Orders</small></li>
                <li class="bg_lh"><i class="icon-globe"></i> <strong>8540</strong> <small>Online Orders</small></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--End-Chart-box--> 
    <hr/>
    <div class="row-fluid" id="new_list">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title bg_ly" data-toggle="collapse" href="#collapseG2"><span class="icon"><i class="icon-chevron-down"></i></span>
            <h5>最新公告</h5>
          </div>
          <div class="widget-content nopadding collapse in" id="collapseG2">
            <ul class="recent-posts">
              <li ng-repeat="new in news">
                <div class="user-thumb"> <img width="40" height="40" alt="User" src="img/demo/av1.jpg"> </div>
                <div class="article-post"> <span class="user-info"> 发布人: {{new.authorName}} / 发布日期: {{new.createTime | date:'yyyy-MM-dd'}} / 发布时间: {{new.createTime | date:'HH:mm:ss'}}  </span>
                  <p><a href="newsInfo.html#?id={{new.id}}">{{new.title}}</a> </p>
                </div>
              </li>
              <li>
                <a class="btn btn-warning btn-mini" href="news.html">查看更多</a>
              </li>
            </ul>
          </div>
        </div>
  </div>
</div>

<!--end-main-container-part-->

<!--<script src="js/excanvas.min.js"></script>
<script src="js/jquery.min.js"></script> 
<script src="js/jquery.ui.custom.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/jquery.flot.min.js"></script> 
<script src="js/jquery.flot.resize.min.js"></script> 
<script src="js/jquery.peity.min.js"></script> 
<script src="js/fullcalendar.min.js"></script> 
<script src="js/matrix.js"></script> 
<script src="js/matrix.dashboard.js"></script> 
<script src="js/jquery.gritter.min.js"></script> 
<script src="js/matrix.interface.js"></script> 
<script src="js/matrix.chat.js"></script> 
<script src="js/jquery.validate.js"></script> 
<script src="js/matrix.form_validation.js"></script> 
<script src="js/jquery.wizard.js"></script> 
<script src="js/jquery.uniform.js"></script> 
<script src="js/select2.min.js"></script> 
<script src="js/matrix.popover.js"></script> 
<script src="js/jquery.dataTables.min.js"></script> 
<script src="js/matrix.tables.js"></script>-->

<script type="text/javascript">
    let ratioArray = [];
    function setRatioArray(){
        $.get('/education/ratio',function(data){
            ratioArray = data.data;
            initPieCharts();
        });
    }
    setRatioArray();
    // 指定图表的配置项和数据
    function initPieCharts(){
        // 基于准备好的dom，初始化echarts实例
        let myChart = echarts.init(document.getElementById('pie_charts'));
        myChart.showLoading();//显示加载框
        let option = {
            title : {
                text: '职工最高学历人数分析南丁格尔图',
                subtext: '真实数据',
                x:'center'
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                x : 'center',
                y : 'bottom',
                data:['初中','中专','高中','大学专科','大学本科','硕士','博士','博士后']
            },
            toolbox: {
                show : true,
                feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false},
                    magicType : {
                        show: true,
                        type: ['pie', 'funnel']
                    },
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            calculable : true,
            series : [
                {
                    name:'半径模式',
                    type:'pie',
                    radius : [20, 110],
                    center : ['25%', '50%'],
                    roseType : 'radius',
                    label: {
                        normal: {
                            show: false
                        },
                        emphasis: {
                            show: true
                        }
                    },
                    lableLine: {
                        normal: {
                            show: false
                        },
                        emphasis: {
                            show: true
                        }
                    },
                    data:ratioArray
                },
                {
                    name:'面积模式',
                    type:'pie',
                    radius : [30, 110],
                    center : ['75%', '50%'],
                    roseType : 'area',
                    data:ratioArray
                }
            ]
        };
        myChart.setOption(option);
        myChart.hideLoading();
    }


  function goPage (newURL) {

      // if url is empty, skip the menu dividers and reset the menu selection to default
      if (newURL != "") {
      
          // if url is "-", it is this page -- reset the menu:
          if (newURL == "-" ) {
              resetMenu();            
          } 
          // else, send page to designated URL            
          else {  
            document.location.href = newURL;
          }
      }
  }

// resets the menu selection upon entry to this page:
function resetMenu() {
   document.gomenu.selector.selectedIndex = 2;
}
</script>
</body>
</html>
