<!DOCTYPE html>
<html lang="en">
<head>
	<title>数据表格页面</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
	<link rel="stylesheet" href="css/uniform.css" />
	<link rel="stylesheet" href="css/matrix-style.css" />
	<link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
</head>
<body>

<div id="content" style="margin-left: 0px;">
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="current">Tables</a> </div>
    <h1>党群机构</h1>
  </div>
  <div class="container-fluid">
    <hr>
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon icon-user"></span>
            <h5>政党办公室</h5>
          </div>
		  <div style="height:50px;">
			<button style="margin:10px 10px 0 20px;;" class="btn btn-success icon icon-plus"> 添加</button> <span class=""></span>
			<button style="margin:10px 10px 0 0px;;" class="btn btn-danger icon icon-minus"> 删除</button> <span class=""></span>
			<button style="margin:10px 10px 0 0px;;" class="btn btn-info icon icon-pencil"> 删除</button> <span class=""></span>
			<button style="margin:10px 10px 0 0px;;" class="btn btn-success icon icon-chevron-down"> 导入</button> <span class=""></span>
			<button style="margin:10px 10px 0 0px;;" class="btn btn-success icon icon-chevron-up"> 导出</button> <span class=""></span>
			<button style="margin:10px 10px 0 0px;;" class="btn btn-info icon icon-repeat"> 刷新</button> <span class=""></span>
		  </div>
          <div class="widget-content nopadding" style="width:100%;overflow:auto;">
            <table class="table table-bordered table-striped with-check" style="width:2100px;">
              <thead>
                <tr>
                  <th><i class="icon-resize-vertical"></i></th>
                  <th>工号</th>
                  <th>真实姓名</th>
                  <th>身份证号</th>
                  <th>出生日期</th>
				  <th>性别</th>
				  <th>联系方式</th>
				  <th>最高学历 </th>
				  <th>最高职称</th>
				  <th>所属部门</th>
				  <th>全部职位</th>
				  <th>人员类型</th>
				  <th>最高学位</th>
				  <th>家庭住址</th>
				  
				  <th>常规证件</th>
				  <th>常规证件状态</th>
				  <th>入职表单</th>
				  <th>入职表单状态</th>
				  <th>阶段性鉴证材料</th>
				  <th>阶段性鉴证材料状态</th>
				  
				  <th>毕业时间</th>
				  <th>入职日期</th>
				  <th>离职日期</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><input type="checkbox" /></td>
                  <td>002584</td>
                  <td>张强鹏</td>
                  <td>411282198910275513</td>
                  <td>1989-10-27</td>
				  <td>男</td>
				  <td>15093675098</td>
				  <td>大学本科 </td>
				  <td>助教</td>
				  <td>党政办公室</td>
				  <td>秘书科工作人员</td>
				  <td>普通员工</td>
				  <td>学士</td>
				  <td>河南省灵宝市</td>
				  
				  <td>查看证书</td>
				  <td>证书未全部上传</td>
				  <td>查看证书</td>
				  <td>证书未全部上传</td>
				  <td>查看证书</td>
				  <td>证书未全部上传</td>
				  
				  <td>未填写</td>
				  <td>2010-08-01</td>
				  <td>未填写</td>
                </tr>
                <tr>
                  <td><input type="checkbox" /></td>
                  <td>002584</td>
                  <td>张强鹏</td>
                  <td>411282198910275513</td>
                  <td>1989-10-27</td>
				  <td>男</td>
				  <td>15093675098</td>
				  <td>大学本科 </td>
				  <td>助教</td>
				  <td>党政办公室</td>
				  <td>秘书科工作人员</td>
				  <td>普通员工</td>
				  <td>学士</td>
				  <td>河南省灵宝市</td>
				  
				  <td>查看证书</td>
				  <td>证书未全部上传</td>
				  <td>查看证书</td>
				  <td>证书未全部上传</td>
				  <td>查看证书</td>
				  <td>证书未全部上传</td>
				  
				  <td>未填写</td>
				  <td>2010-08-01</td>
				  <td>未填写</td>
                </tr>
				<tr>
                  <td><input type="checkbox" /></td>
                  <td>002584</td>
                  <td>张强鹏</td>
                  <td>411282198910275513</td>
                  <td>1989-10-27</td>
				  <td>男</td>
				  <td>15093675098</td>
				  <td>大学本科 </td>
				  <td>助教</td>
				  <td>党政办公室</td>
				  <td>秘书科工作人员</td>
				  <td>普通员工</td>
				  <td>学士</td>
				  <td>河南省灵宝市</td>
				  
				  <td>查看证书</td>
				  <td>证书未全部上传</td>
				  <td>查看证书</td>
				  <td>证书未全部上传</td>
				  <td>查看证书</td>
				  <td>证书未全部上传</td>
				  
				  <td>未填写</td>
				  <td>2010-08-01</td>
				  <td>未填写</td>
                </tr>
				<tr>
                  <td><input type="checkbox" /></td>
                  <td>002584</td>
                  <td>张强鹏</td>
                  <td>411282198910275513</td>
                  <td>1989-10-27</td>
				  <td>男</td>
				  <td>15093675098</td>
				  <td>大学本科 </td>
				  <td>助教</td>
				  <td>党委、工会办公室工作人员</td>
				  <td>秘书科工作人员</td>
				  <td>普通员工</td>
				  <td>学士</td>
				  <td>河南省新乡市园林局家属院</td>
				  
				  <td>查看证书</td>
				  <td>证书未全部上传</td>
				  <td>查看证书</td>
				  <td>证书未全部上传</td>
				  <td>查看证书</td>
				  <td>证书未全部上传</td>
				  
				  <td>未填写</td>
				  <td>2010-08-01</td>
				  <td>未填写</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        </div>
      </div>
    </div>
</div>

<script src="js/jquery.min.js"></script> 
<script src="js/jquery.ui.custom.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/jquery.uniform.js"></script> 
<script src="js/select2.min.js"></script> 
<script src="js/jquery.dataTables.min.js"></script> 
<script src="js/matrix.js"></script> 
<script src="js/matrix.tables.js"></script>
</body>
</html>
